///general

// variables
$blue: #D6E2F5;
$medium: 640px;
$large: 1023px;

main {
    display: flex; 
    justify-content: center;
}

.position-relative {
    position: relative;
}

@mixin medium {
    @media (min-width: #{$medium}) {
        @content;
    }
}

@mixin large {
    @media (min-width: #{$large}) {
        @content;
    }
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 2px;

    @include medium {
        padding: 0 30px;
        margin: 0 2px;
    }

    @include large {
        padding: 0 150px;
        margin: 0 2px;
    }
}

.section {

    padding-bottom: 2rem;

    @include large {
        padding-bottom: 36px;
    }
}


.placeholder-upper {
    position: absolute;
    position: absolute;
    top: -13px;
    background: #fff;
    padding: 2px;
    display: none;
    font-size: 12px;
    left: 11.5px;
}


.flex {
    display: flex;
}

label {
    display: block;
    color: #828282;
}

// removing blue background which showed sometimes
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.arrows-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 11.5px;
}

.arrow {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    transition: .3s ease-in-out;


    &:hover {
        cursor: pointer;
        opacity: 0.7;
    }
}

.arrow-up {
    @extend .arrow;
    border-bottom: 4px solid rgba(79, 79, 79, 0.5);
}

.arrow-down {
    @extend .arrow;
    border-top: 4px solid rgba(79, 79, 79, 0.5);
}




////typhograpgy

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

* {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
    background-repeat: no-repeat;
    color: #4F4F4F;
}

p {
    margin-bottom: 0;
    font-size: 12px;

    @include medium {
        font-size: 14px;
    }
}
.blue {
   color: #007cb2;
   font-weight: 700;
}


.add-button {
    &:active, &:focus {
        outline: none;
        border: 1px solid #007cb2;
    }
    background: #007cb2;
    color: #fff;
    border: 1px solid #007cb2;
    transition: .3s ease-in-out;
    font-size: 14px;
    font-weight: 600;
    padding: 6px 24px;
    border-radius: 3px;

    &:hover {
        cursor: pointer;
        background: #fff;
        color: #007cb2;
    }
}

.first-error {
    position: relative;

    input,
    button {
        border: 1px solid #FF4003;


    }

    &::after {
        position: absolute;
        content: "Błąd";
        color: #FF4003;
        left: 0;
        bottom: 2px;
        font-size: 12px;
        font-weight: 600;
    }
}







/////////////////////////////task
input {
    border: none;
    border-bottom: 1px solid #ddddddf6;
    &:active, &:focus {
        outline: none;
    }
}
.result_box {
    padding-left: 19px;
}

select {
    border: none;
}

.task {
    &__title {
        text-align: center;
        padding-left: 11.5px;
        font-size: 19px;
        font-weight: 400;
        color: rgb(14, 91, 120);
        margin-top: 48px;
        margin-bottom: 74px;
    }

    #lolz-box,
    #price-box {
        position: relative;
    }

    &__inputs_box {
        display: flex;
        flex-direction: column;
        margin-bottom: 44px;
        width: 276px;

    }

    &__euro_button {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-left: 19px;

        p {
            margin-top: 0;
            color: #4A4A4A;
            margin-right: 41px;
        }
    }

    &__table {
        width: 100%;
        // border: 1px solid $blue;
        // border-radius: 3px;
        border: none;
        margin-bottom: 25px;
        color: #555 !important;
   

        //moje style


        th {
            text-align: left;
        }

        td,
        th {
            padding: 15px 19px;
            border-bottom: 1px solid #f0f0f0;
            font-size: 14px;


        }

        tr {
            &:last-child {
                td {
                    border: none;
                }
            }
        }

        .remove {
            position: relative;
            transition: .3s ease-in-out;

            &:hover {
                opacity: 0.7;
                cursor: pointer;
            }

            &::before {
                content: url("../img/Union.svg");
                position: absolute;
                left: -5px;
            }
        }

    }
}



