@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.position-relative {
  position: relative;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 2px;
}

@media (min-width: 640px) {
  .container {
    padding: 0 30px;
    margin: 0 2px;
  }
}

@media (min-width: 1023px) {
  .container {
    padding: 0 150px;
    margin: 0 2px;
  }
}

.section {
  padding-bottom: 2rem;
}

@media (min-width: 1023px) {
  .section {
    padding-bottom: 36px;
  }
}

.placeholder-upper {
  position: absolute;
  position: absolute;
  top: -13px;
  background: #fff;
  padding: 2px;
  display: none;
  font-size: 12px;
  left: 11.5px;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

label {
  display: block;
  color: #828282;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.arrows-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 11.5px;
}

.arrow, .arrow-up, .arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.arrow:hover, .arrow-up:hover, .arrow-down:hover {
  cursor: pointer;
  opacity: 0.7;
}

.arrow-up {
  border-bottom: 4px solid rgba(79, 79, 79, 0.5);
}

.arrow-down {
  border-top: 4px solid rgba(79, 79, 79, 0.5);
}

* {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  color: #4F4F4F;
}

p {
  margin-bottom: 0;
  font-size: 12px;
}

@media (min-width: 640px) {
  p {
    font-size: 14px;
  }
}

.blue {
  color: #007cb2;
  font-weight: 700;
}

.add-button {
  background: #007cb2;
  color: #fff;
  border: 1px solid #007cb2;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  font-size: 14px;
  font-weight: 600;
  padding: 6px 24px;
  border-radius: 3px;
}

.add-button:active, .add-button:focus {
  outline: none;
  border: 1px solid #007cb2;
}

.add-button:hover {
  cursor: pointer;
  background: #fff;
  color: #007cb2;
}

.first-error {
  position: relative;
}

.first-error input,
.first-error button {
  border: 1px solid #FF4003;
}

.first-error::after {
  position: absolute;
  content: "Błąd";
  color: #FF4003;
  left: 0;
  bottom: 2px;
  font-size: 12px;
  font-weight: 600;
}

input {
  border: none;
  border-bottom: 1px solid #ddddddf6;
}

input:active, input:focus {
  outline: none;
}

.result_box {
  padding-left: 19px;
}

select {
  border: none;
}

.task__title {
  text-align: center;
  padding-left: 11.5px;
  font-size: 19px;
  font-weight: 400;
  color: #0e5b78;
  margin-top: 48px;
  margin-bottom: 74px;
}

.task #lolz-box,
.task #price-box {
  position: relative;
}

.task__inputs_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 44px;
  width: 276px;
}

.task__euro_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 19px;
}

.task__euro_button p {
  margin-top: 0;
  color: #4A4A4A;
  margin-right: 41px;
}

.task__table {
  width: 100%;
  border: none;
  margin-bottom: 25px;
  color: #555 !important;
}

.task__table th {
  text-align: left;
}

.task__table td,
.task__table th {
  padding: 15px 19px;
  border-bottom: 1px solid #f0f0f0;
  font-size: 14px;
}

.task__table tr:last-child td {
  border: none;
}

.task__table .remove {
  position: relative;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.task__table .remove:hover {
  opacity: 0.7;
  cursor: pointer;
}

.task__table .remove::before {
  content: url("../img/Union.svg");
  position: absolute;
  left: -5px;
}
/*# sourceMappingURL=style.css.map */